<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Listado de empleados</span>
      <button
        class="btn btn-dark btn-lg float-right"
        [routerLink]="['/create-empleado']"
        routerLinkActive="router-link-active"
      >
        Agregar
      </button>
      <ng-container *ngIf="empleados.length > 0; else elseEmpleados">
        <table class="table table-striped mt-5">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Documento</th>
              <th>Salario</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let empleado of empleados">
              <td>{{ empleado.nombre }}</td>
              <td>{{ empleado.apellido }}</td>
              <td>{{ empleado.documento }}</td>
              <td>{{ empleado.salario | currency }}</td>
              <td>
                <i
                  class="fas fa-edit fa-lg text-info"
                  [routerLink]="['/edit-empleado/', empleado.id]"
                ></i
                ><i
                  (click)="eliminarEmpleado(empleado.id)"
                  class="fas fa-trash fa-lg text-danger ml-2"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-template #elseEmpleados>
        <div class="alert alert-warning mt-5" role="alert">
          No hay empleados que mostrar
        </div>
      </ng-template>
    </div>
  </div>
</div>
